<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="PathOrigin" value="C:\Users\asus\Desktop\ContactosXCliente.csv"/>-->
    <add key="PathOrigin" value="D:\RA_ProcesadorBatch\Entrada\SolicitudesXCliente.csv"/>
    <add key="PathError"  value="D:\RA_ProcesadorBatch\Error"/>
    <add key="NameFileError" value="RA_Error_"/>
    <add key="PathDestination" value="D:\RA_ProcesadorBatch\Procesados"/>
    <add key="Separator" value=";"/>
    <add key="KindOfChargue" value="Solicitudes"/>
  </appSettings>
  <connectionStrings>
    <add name="BDRAEntities" connectionString="metadata=res://*/BDRAEntities.csdl|res://*/BDRAEntities.ssdl|res://*/BDRAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WILLIAMFORERO\SQLEXPRESS01;initial catalog=BDRA;user id=sa;password=A123456a;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>